/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://example.com/fonts/ubuntu.woff) format('woff');
}

body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: #6f6f6f;
  background: white;
}
/* Link Styles */

a {
  text-decoration: none;
  color: black;
}

/* Section Styles */

.main-nav {
  width: 100%;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  font-size:26px;

}

.nav .names {
    display: block;
    margin-right: auto;
    color: black;

}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}

header {
  text-align: left;
  background: white ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  padding-left: 60px;
}
header {
  line-height: 1.5;
}

/* I dont know what you mean. I see the profile-image class here? */



.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 3px;
  display: table;
  margin: 10px;
  margin-left: 50px;
}

.tag:hover{
  transform: scale(1.1);
}

.name{
  font-size: 50px;
  margin-left:290px;
}
.subtitle {
  background-color: white;
  color: black;
  margin-left: 290px;
  font-size:25px;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  min-width:400px;
  text-align: left;
  background: #fff;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  transform: scale(1.2);
}

ul.skills {
  padding: 0;
  text-align: align-left;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: grey;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:hover {
  transform: scale(1.9) rotate(5deg);
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
  transform: scale(1.2) rotate(5deg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}

a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
  transform: scale(1.3) rotate(5deg);
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {

  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex;
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 25%;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
    /* align: center; */
  }

}
